@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");

html {
  font-family: "DM Serif Display", serif;
}

.fancybox__caption {
  padding: 14px 15px 4px 15px !important;
  font-size: 22px;
}

.float-left {
  float: left;
}

.mr {
  margin-right: 20px !important;
}

.caption-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-back {
  padding: 0.8rem 1rem !important;
}

.vertical-align-middle {
  vertical-align: middle;
}

.image-name {
  position: absolute;
  display: block;
  width: 100%;
  top: 5vh;
  padding: 15px 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

@keyframes reveal-text {
  0% {
    opacity: 0;
    transform: translate(100%, 0);
  }
  30% {
    opacity: 1;
    transform: translate(0, 0);
  }
  80% {
    opacity: 1;
    transform: translate(0, 0);
  }
  90% {
    opacity: 0;
    transform: translate(-10%, 0);
  }
}

@keyframes reveal-text-container {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.image-name span {
  font-size: 30px;
  font-family: "Cinzel Decorative", cursive;
}

.image-name span {
  opacity: 0;
}

.image-name.reveal {
  animation: reveal-text-container 6s;
  animation-fill-mode: forwards;
}

.image-name.reveal span {
  display: block;
  animation: reveal-text 3.5s cubic-bezier(0.77, 0, 0.175, 1) 1.5s;
  animation-fill-mode: forwards;
}

.btn {
  --hue: 190;
  position: relative;
  padding: 0.8rem 2rem;
  margin: 0.5rem 0;
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(var(--hue), 100%, 41%);
  text-decoration: none;
  text-transform: uppercase;
  background-color: hsl(var(--hue), 100%, 41%);
  border: 1px solid hsl(var(--hue), 100%, 41%);
  outline: transparent;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  transition: 0.25s;
}
.btn:active {
  background: hsl(var(--hue), 100%, 31%);
}
.btn-primary {
  --hue: 187;
}
.btn-ghost {
  color: hsl(var(--hue), 100%, 41%);
  background-color: transparent;
  border-color: hsl(var(--hue), 100%, 41%);
}
.btn-ghost:active {
  color: hsl(var(--hue), 100%, 41%);
}
.btn-shine {
  color: hsl(var(--hue), 100%, 41%);
}
.btn-shine::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    hsla(var(--hue), 100%, 41%, 0.5),
    transparent
  );
  transform: translateX(-100%);
  transition: 0.6s;
}
.btn-shine:active {
  background: transparent;
  box-shadow: 0 0 20px 10px hsla(var(--hue), 100%, 41%, 0.5);
}
.btn-shine:active::before {
  transform: translateX(100%);
}
